<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>SingleStock</servlet-name>
        <servlet-class>servlets.SingleStockServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SingleStock</servlet-name>
        <url-pattern>/servlets/SingleStock</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadXMLFileServlet</servlet-name>
        <servlet-class>servlets.UploadXMLFileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadXMLFileServlet</servlet-name>
        <url-pattern>/servlets/UploadXMLFileServlet</url-pattern>
    </servlet-mapping>

    <!--    Starts here -->
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>servlets.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginShortResponseServlet</servlet-name>
        <servlet-class>servlets.LightweightLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>servlets.UsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StocksListServlet</servlet-name>
        <servlet-class>servlets.StocksListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSelectedStockServlet</servlet-name>
        <servlet-class>servlets.GetSelectedStockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/signup/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginShortResponseServlet</servlet-name>
        <url-pattern>/pages/login/loginShortResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/userslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StocksListServlet</servlet-name>
        <url-pattern>/stockslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSelectedStockServlet</servlet-name>
        <url-pattern>/getSelectedStock</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserUpdateMoneyServlet</servlet-name>
        <servlet-class>servlets.UserUpdateMoneyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserUpdateMoneyServlet</servlet-name>
        <url-pattern>/servlets/UserUpdateMoneyServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateNewStockServlet</servlet-name>
        <servlet-class>servlets.CreateNewStockServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateNewStockServlet</servlet-name>
        <url-pattern>/servlets/CreateNewStockServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserSingleStockServlet</servlet-name>
        <servlet-class>servlets.UserSingleStockServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserSingleStockServlet</servlet-name>
        <url-pattern>/servlets/UserSingleStockServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransactionUpdateAlertServlet</servlet-name>
        <servlet-class>servlets.TransactionUpdateAlertServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TransactionUpdateAlertServlet</servlet-name>
        <url-pattern>/servlets/TransactionUpdateAlertServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransactionActionServlet</servlet-name>
        <servlet-class>servlets.TransactionActionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TransactionActionServlet</servlet-name>
        <url-pattern>/servlets/TransactionActionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TradeActivitiesServlet</servlet-name>
        <servlet-class>servlets.TradeActivitiesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TradeActivitiesServlet</servlet-name>
        <url-pattern>/servlets/TradeActivitiesServlet</url-pattern>
    </servlet-mapping>
</web-app>