.buttonStyle {
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.round-red {
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}

.root{
    -fx-fill-width : true;
    -fx-fill-height : true;
    -fx-font-family: 'Segoe UI';
    /* remove the ugly focus shade */
    -fx-focus-color : transparent;
    -fx-faint-focus-color: transparent;
}

#flatbee-tiny{
    -fx-font-size : 8.0;
}

#flatbee-small{
    -fx-font-size : 10.0;
}

#flatbee-medium{
    -fx-font-size : 12.0;
}

#flatbee-large{
    -fx-font-size : 18.0;
}

#flatbee-xlarge{
    -fx-font-size : 24.0;
}

#flatbee-xxlarge{
    -fx-font-size : 32.0;
    -fx-font-weight: bold;
}

#flatbee-xxxlarge{
    -fx-font-size : 40.0;
    -fx-font-weight: bold;
}

#flatbee-jumbo{
    -fx-font-size : 48.0;
    -fx-font-weight: bold;
}

#flatbee-card{
    -fx-spacing : 12.0;
    -fx-padding : 10;
    -fx-hgap : 10;
    -fx-vgap : 10;
}

#flatbee-container{
    -fx-spacing : 12.0;
    -fx-padding : 10;
    -fx-hgap : 10;
    -fx-vgap : 10;
}

#flatbee-panel{
    -fx-padding : 10;
}

/*
 * **********
 * PROGRESSBAR
 * **********
 *
 */
.progress-indicator {
    -fx-indeterminate-segment-count : 12;
    -fx-progress-color : -color;
    -fx-spin-enabled : true;
}

.slider>*.axis:bottom{
    -fx-tick-label-font-family : 'Segoe UI';
}

/*
 * **********
 * TABPANE
 * **********
 *
 */
.tab-pane>*.tab-header-area{
    -fx-padding : 0,0,0,0;
}
.tab-pane>*.tab-header-area>*.headers-region>*.tab:selected:top{
    -fx-padding : 6,6,6,6;
}
.tab-pane>*.tab-header-area>*.headers-region>*.tab:selected>*.tab-container>*.tab-label{
    -fx-font-size : 13.0;
    -fx-font-weight: bold;
}

.tab-pane>*.tab-header-area>*.headers-region>*.tab:top{
    -fx-padding : 4,4,4,4;
}

.label {
    -fx-font-family: Algerian;
    -fx-font-size: 40px;
}